<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="https://media.gq.com/photos/59303fb5fd48c3741bfc222b/16:9/pass/rotten-tomatoes-scores.jpg" alt="How rotten is it" width="75" height="75"><br>
    Find out if the movie you chose is good or not
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#!/">Review!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <p>&nbsp;</p>
<p><img class="irc_mi" style="margin-top: 51px;" src="https://cdn3.iconfinder.com/data/icons/glypho-movie-and-video/64/film-camera-alt-512.png" alt="Imagini pentru movie icons" width="61" height="61" /><img class="transparent" style="float: right;" src="http://www.free-icons-download.net/images/movie-icon-72062.png" alt="http://www.free-icons-download.net/images/movie-icon-72062.png" width="54" height="53" /></p>
<p>As we are all pretty decent movie buffs, we found a need to find reviews made for our favorite upcoming movies. Unfortunately, the main sources of these reviews are foreign websites, like Metacritic and, of course, Rotten Tomatoes. Our critics do not have a proper outlet to voice their opinions and reviews about movies. This includes Romanian made films, or even plays, or concerts which are rarely, if ever, covered on these existing websites. We feel that local critics are not represented properly and that they need an outlet which can gather their views, package them in a nice form and distribute them to the masses. Our future ketchup makers need a voice, so we want to give it to them!</p>
<p style="text-align: center;">Here is a list of the top movies of last year</p>
<p><iframe src="//www.youtube.com/embed/8zy4yvHAtfc" width="560" height="314" allowfullscreen="allowfullscreen"></iframe></p>
</div>
